<main ng-app="previewApp" ng-controller="PostCtrl">
  <header class="new-post-header">
    <h1 class="page-title">New Blog Post</h1>
    <section class="dropzone-container">
      <%= form_tag({controller: 'posts', action: 'convert'}, id: 'post-dropzone', class: 'dropzone', multipart: true, 'drop-zone' => '') do %>
      <% end %>
    </section>
  </header>

  <section class="doc-review">
    <%= form_for @post, html: {class: 'review-form', 'ng-show' => "output !== ''"} do |form| %>
      <%= form.text_area :body, 'ng-model' => 'output' %>
      <%= form.submit 'Accept' %>
    <% end %>

    <article class="review-output" ng-show="output !== ''" ng-bind-html="output | markdown">
    </article>
  </section>
</main>