<main ng-app="previewApp" ng-controller="PostCtrl">
  <header>
    <h1 class="page-title">New Blog Post</h1>
    <section class="main-form">
      <%= form_tag({controller: 'posts', action: 'convert'}, id: 'post-dropzone', class: 'dropzone', multipart: true, 'drop-zone' => '') do %>
      <% end %>
    </section>
  </header>

  <section class="main-form" ng-show="output !== ''">
    <%= form_for @post do |form| %>
      <%= form.text_area :body, 'ng-model' => 'output' %>
      <%= form.submit 'Accept' %>
    <% end %>
  </section>

  <section class="main-form preview" ng-show="output !== ''">
    <div ng-bind-html="output | markdown"></div>
  </section>
</main>