@import 'variables'

*
  box-sizing: border-box

body
  background-color: $public-body
  font-size: 100%
  
  &.admin
    background-color: $admin-body

img
  display: none
    
h1
  font-size: 2em
  font-weight: bold
  margin-bottom: 0.5em

h2
  font-size: 1.5em
  font-weight: bold
  margin: 1em 0 1rem
    
p
  line-height: 1.2em
  margin: 1em 0
  
main > header
  width: 100%
  background-color: $header-color
  padding: 1em
  margin-bottom: 1em
  
  h1
    text-align: center
    font-size: 2em
    color: #fff
    
main > header.new-post-header
  width: 90%
  display: flex
  margin: 2em auto
  padding: 0
  
  .page-title
    background-color: rgba(255, 255, 255, 0.2)
    color: #fff
    font-size: 4em
    font-family: 'Helvetica Neue', sans-serif
    font-weight: bold
    font-style: italic
    padding: 0.7em
    display: block
    margin-right: 0.5em
    margin-bottom: 0
    text-align: left
    flex: 1 75%
    
  .dropzone-container
    background-color: #02ad39
    flex: 1 25%
    
    .dropzone
      padding: 0
      text-align: center
      overflow: hidden
      
      .dz-preview
        margin: 0.5em

.dz-message 
  padding: 2.75em 2em
  color: #fff
  
  span
    font-size: 2em

.doc-review
  width: 90%
  display: flex
  margin: 1em auto
  
  .review-form
    flex: 1 50%
    margin-right: 2em
    background-color: $main-bg-color
    
    textarea
      width: 100%
      max-width: 100%
      min-height: 500px
      font-size: 1rem
      padding: 2em
      font-family: courier
      border: none
    
  .review-output
    flex: 1 50%
    background-color: $main-bg-color
    padding: 2em
  
.main-content
  background-color: $main-bg-color
  max-width: 65%
  margin: 1em auto
  padding: 1em
  
.main-form
  background-color: $main-bg-color
  max-width: 65%
  margin: 1em auto
  padding: 1em
  
table.post-titles
  width: 100%

  th
    font-weight: 600
    padding-bottom: 0.75em
  
  td
    padding-bottom: 0.5em
    
  th:first-child, td:first-child
    width: 75%
    text-align: left
    
  th:last-child, td:last-child
    width: 25%
    text-align: left
    
.post
  background-color: $main-bg-color
  max-width: 65%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 1em
  border-radius: 3px
  
  h1
    font-size: 1.5em
    font-weight: 600
    margin-bottom: 0.75em
    
  h2
    font-size: 1.1em
    font-weight: 600
    
  p
    line-height: 1.2em
    margin: 1em 0
    
  hr
    border: 1px solid $public-body